<div id="container">

    <div class="hero">
        <div class="grid">
            <section class="grid__block grid__block--2">
                <div class="module">
                    <header>
                        <img src="../assets/banco-bci.png" alt="Banco BCI" width="100">
                    </header>
                    <h1>Star Wars <span>Characters</span></h1>
                    <p>Star Wars es una franquicia compuesta primordialmente de una serie de películas concebidas por el
                        cineasta estadounidense George Lucas.</p>
                    <a class="btn" href="#">Saber más</a>
                </div>
            </section>

            <section class="grid__block grid__block--2">
                <div class="module">

                </div>
            </section>
        </div>
    </div>

    <div class="grid">
        <section class="grid__block grid__block--full">
            <div class="module text-center">
                <img src="../assets/puntos.png" alt="divisor">
                <h3>Personajes de Star Wars</h3>
            </div>
        </section>
    </div>

    <div class="grid">

        <section class="grid__block grid__block--3">
            <div class="module">

            </div>
        </section>

        <ng-container *ngFor="let characte of charactes.reverse()">
          <section class="grid__block grid__block--4">
              <div class="module text-center">
                  <img [ngClass]="(characte.id === 'luke')?'personaje verde':'personaje rojo'"  src="../assets/{{ characte.image }}" alt="{{ characte.name }}">
                  <h4>{{ characte.name }}</h4>
                  <dl>
                      <dt>Estatura</dt>
                      <dd>{{ characte.height }} cms</dd>
                      <dt>Planeta</dt>
                      <dd>{{ characte.homeworld }}</dd>
                      <dt>Naves</dt>
                      <dd>{{ characte.starships }}</dd>
                  </dl>
                  <a class="mas" href="#">Conoce más</a>
              </div>
          </section>
      </ng-container>


        <section class="grid__block grid__block--6">
            <div class="module">
            </div>
        </section>
    </div>
</div>

<router-outlet></router-outlet>
