#container{


  .hero {
    width: 100%;
    background: url(../assets/images/star-wars.png) top right no-repeat scroll;
    background-size: 690px;
    height: 500px; }


  .personaje {
    border-radius: 100%;
    border: 1px solid transparent;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .personaje.verde {
      border-color: #18A94F; }
    .personaje.rojo {
      border-color: #e1353d; }

  .mas {
    color: #2772cc;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.9em;
    padding-right: 23px;
    background: url(../assets/right-chevron.svg) right center no-repeat;
    background-size: 18px; }



  }
