@import url("https://fonts.googleapis.com/css?family=Overpass:400,700&display=swap");


* {
  padding: 0px;
  margin: 0px; }

html {
  color: #000; }

.grid {
  margin-left: -10px;
  margin-right: -10px;
  max-width: 1200px;
  margin: 0 auto; }
  .grid > * {
    float: left;
    padding: 10px; }
  .grid:after {
    content: "";
    display: table;
    clear: both; }

.grid__block {
  width: 100%; }

.module {
  padding: .6em 1.4em; }

@media screen and (min-width: 580px) {
  .grid__block {
    width: 50%; } }

@media screen and (min-width: 768px) {
  .grid__block--full {
    width: 100%; }
  .grid__block--3,
  .grid__block--4,
  .grid__block--5,
  .grid__block--6 {
    width: 25%; } }

/*--------------------------*/
/* Estilos generales
/*--------------------------*/

body {
  font-family: "Overpass", Arial, Helvetica, sans-serif; }

header {
  margin-bottom: 40px; }


h1 {

  font-size: 3em;
  margin-bottom: 30px; }
  h1 span {
    display: block;
    text-align: right;
    color: #18A94F; }

h3 {
  color: #37474f;
  font-size: 2em; }

h4 {
  color: #37474f;
  font-size: 1.5em;
  margin-bottom: 15px; }

p {
  margin-bottom: 30px; }

dl {
  color: #546e7a; }
  dl dd {
    font-size: 1.2em;
    margin-bottom: 10px; }

img {
  max-width: 100%;
  height: auto; }

.btn {
  display: inline-block;
  background-color: #18A94F;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px; }

.text-center {
  text-align: center; }
